body {
    background-color: #53ceff;
}

footer {
    background-color: #ffd82d;
}

nav {
    background-color: #ffd82d;
}

@media screen and (max-width: 1200px) {
    .margem_celular {
      margin-top: 10px;
    }
  }